.w {
	width: 1200px;
	margin: 0 auto;
}
.header {
	height: 82px;
	border-bottom: 2px solid #b1191a;
}
.logo {
	padding-top: 15px;
}
.registerarea {
	height: 520px;
	border: 1px solid #ccc;
	margin-top: 20px;
}
.registerarea h3 {
	height: 40px;
	background-color: #ececec;
	line-height: 40px;
	padding: 0 10px;
	font-size: 18px;
}
.registerarea h3 em {
	float: right;
	font-size: 14px;
}
.registerarea a {
	color: #cb323b;
}
.reg_form {
	width: 600px;
	height: 400px;
	margin: 40px auto 0;
}
.reg_form li {
	margin-top: 15px;
}
.reg_form label {
	display: inline-block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: right;
}
.reg_form .inp {
	width: 238px;
	height: 34px;
	border: 1px solid #ccc;
	margin-left: 10px;
}
.error {
	color: #df3033;
	margin-left: 10px;
}
.error_icon,
.success_icon  {
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
.error_icon {
	background: url(../img/error.png) no-repeat;
}
.success_icon {
	background: url(../img/success.png) no-repeat;
}
.success {
	color: #40b83f;
	margin-left: 10px;
}
.safe {
	padding-left: 187px;
	color: #b3b3b3;
}
.safe em {
	display: inline-block;
	padding: 0 12px;
	color: #fff;
}
.ruo {
	background-color: #de1111;
}
.zhong {
	background-color: #40b83f;
}
.qiang {
	background-color: #f79100;
}
.agree {
	padding-left: 113px;
}
.agree input {
	vertical-align: middle;
	/*padding-left: 100px;*/
	margin-right: 5px;
}
.agree a {
	color: #2aa7e8;
	font-size: 10px;
}
.over {
	width: 200px;
	height: 34px;
	background-color: #c81623;
	border: 0;
	color: #fff;
	font-size: 14px;
	margin: 30px 0 0 130px;
}
/*footer*/
.footer {
	height: 120px;
	text-align: center;
}
.mod_copyright {
	text-align: center;
}
.mod_copyright_links {
	margin: 20px 0 15px 0;
}
.mod_copyright_info {
	line-height: 18px;
}















